$player-height: 160px;
$player-width: 286px;
$padding: 14px;
$volume-bar-height: 2.5px;
.player-class {
    position: absolute;
    float: right;
    margin-top: 20px;
    right: 19px;
    width: $player-width;
    height: $player-height;
}

.player-bg-wrapper {
    border: 1px solid #edeeee;
    .player-bg {
        display: block;
        width: $player-width + 20px;
        height: $player-height + 20px;
        background-size: cover;
        content: ' ';
        opacity: 0.4;
        background-image: url($deafult-music-cover-path);
        @include filter(blur(9px));
        background-position: center center;
    }
    @extend .player-class;
    overflow: hidden;
    //@include background-image(linear-gradient(to bottom, rgba(228, 245, 252, 0.2) 0%, rgba(191, 232, 249, 0.2) 50%, rgba(159, 216, 239, 0.2) 51%, rgba(42, 176, 237, 0.2) 100%));
    .player-styling-effect {
        background-color: rgba(white, 0.4);
        width: $player-width + 20px;
        height: $player-height + 20px;
        margin: -10px 0 0 -10px;
    }
}

#play-tumbler,
#volume-tumbler {
    width: (($player-width - $padding)/100)*11;
    /*11% от ширины*/
    height: (($player-width - $padding)/100)*11;
    /*11% от ширины*/
    float: left;
    cursor: pointer;
    display: block;
    position: relative;
}

#play-tumbler,
#volume-bar {
    margin-right: (($player-width - $padding)/100)*9;
    /*9%*/
}

#volume-bar {
    background: rgba(black, 0.5);
    height: $volume-bar-height;
    width: (($player-width - $padding)/100)*54;
    /*54% от ширины*/
    cursor: pointer;
    float: left;
    margin-top: ((($player-width - $padding)/100)*11)/2;
    display: block;
    &:after {
        content: ".";
        display: block;
        height: 0;
        clear: both;
        visibility: hidden;
    }
}

.player-button-class {
    width: (($player-width - $padding)/100)*11;
    /*11% от ширины*/
    height: (($player-width - $padding)/100)*11;
    /*11% от ширины*/
    position: absolute;
    z-index: 5;
    top: 0px;
    left: 0px;
    fill: white;
    pointer-events: all;
}

#play-tumbler {
    #play-icon,
    #pause-icon {
        @extend .player-button-class;
    }
}

#volume-tumbler {
    #mute-icon,
    #unmute-icon {
        @extend .player-button-class;
    }
}

#unmute-icon,
#pause-icon {
    @include getOpacity(0);
}


/*Плеер*/

.player {
    @extend .player-class;
    z-index: 21;
    padding: $padding;
    width: $player-width - ($padding*2);
    height: $player-height - ($padding*2);
    #player-info {
        >div:not(:last-child) {
            margin-bottom: 14px;
        }
        .player-info-block {
            height: 89px;
            width: 100%;
            .player-cover {
                height: 87px;
                width: 87px;
                position: relative;
                background-image: url($deafult-music-cover-path);
                @include background-size(cover);
                @include border-radius(3px);
                @include border-all(1px,
                solid,
                white);
            }
            div {
                float: left;
            }
            @include clearfix;
            >div:not(:last-child) {
                margin-right: 14px;
            }
            .track-info {
                overflow: hidden;
                width: calc(100%-89px);
                height: 89px;
                .track-tab1,
                .track-tab2 {
                    position: absolute;
                    height: inherit;
                    overflow: hidden;
                    .track-song {
                        text-align: left;
                        color: white;
                        font-family: "Open Sans", sans-serif;
                        font-kerning: auto;
                        font-size: 18px;
                        font-stretch: normal;
                        font-variant: normal;
                        font-variant-ligatures: normal;
                        font-weight: normal;
                        bottom: 0;
                    }
                    .tracking-group {
                        text-align: left;
                        color: white;
                        font-family: "Open Sans", sans-serif;
                        font-kerning: auto;
                        font-size: 27px;
                        font-stretch: normal;
                        font-variant: normal;
                        font-weight: bold;
                        bottom: 0;
                    }
                }
            }
        }
    }
}



/*Регулятор громкости*/

#volume-bar-value {
    background: white;
    height: $volume-bar-height;
    cursor: pointer;
    div {
        $size: 20px;
        float: right;
        width: $size;
        height: $size;
        @include border-radius(50%);
        background: rgba(white, 0.5);
        position: relative;
        top: (($size/2) - ($volume-bar-height/2))*-1;
        right: (($size/2) - ($volume-bar-height/2))*-1;
        div {
            position: relative;
            top: $size/4;
            right: $size/4;
            background: white;
            width: $size/2;
            height: $size/2;
            border-radius: 50%;
            &:hover {
                background: $first-theme-color;
            }
        }
    }
}

#volume-bar-wrapper {
    display: block;
    width: 100%;
    height: (($player-width - $padding)/100)*11;
}

#slider {
    width: (($player-width - $padding)/100)*54;
    position: relative;
}


/* Ползунок */

.ui-slider .ui-slider-handle {
    $size: 20px;
    position: absolute;
    z-index: 2;
    width: $size/2;
    height: $size/2;
    background: white;
    border: none;
    @include border-radius(50%);
    &:before {
        content: " ";
        float: right;
        width: $size;
        height: $size;
        @include border-radius(50%);
        background: rgba(white, 0.5);
        position: relative;
        top: ($size/4)*-1;
        right: ($size/4)*-1;
    }
    &:focus {
        border: none;
        outline: none;
    }
}

.ui-slider .ui-slider-range {
    position: absolute;
    z-index: 1;
    font-size: .7em;
    display: block;
    border: 0;
    overflow: hidden;
}


/* горизонтальный слайдер (сама полоса по которой бегает ползунок) */

.ui-slider-horizontal {
    height: 3px;
    /* задаем высоту согласно дизайна */
}


/* позиционируем ползунки */

.ui-slider-horizontal .ui-slider-handle {
    $size: 10px;
    top: (($size/2) - ($volume-bar-height/2))*-1;
    margin-left: -6px;
}

.ui-slider-horizontal .ui-slider-range {
    top: 0;
    height: 100%;
}

.ui-slider-horizontal .ui-slider-range-min {
    left: 0;
}

.ui-slider-horizontal .ui-slider-range-max {
    right: 0;
}


/* оформление полосы по которой ходит ползунок */

.ui-widget-content {
    border: none;
    background: rgba(0, 0, 0, 0.5);
}


/* скругление для полосы слайдера */

.ui-corner-all {
    @include border-radius(0);
}


/*Заполненная часть полосы слайдера*/

.ui-widget-header {
    border: none;
    color: #ffffff;
    background: white 50% 50% repeat-x;
    font-weight: bold;
}
