@charset "UTF-8";
/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
@import url("https://fonts.googleapis.com/css?family=Lobster&subset=latin,cyrillic");
@import url(https://fonts.googleapis.com/css?family=Ubuntu:400,700);
@import url(https://fonts.googleapis.com/css?family=Noto+Sans:400,400italic,700,700italic&subset=latin,cyrillic);
@import url(http://fonts.googleapis.com/css?family=Montserrat);
@import "http://webfonts.ru/import/sansitaone.css";
/* line 5, ../../../../work/Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../work/Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../work/Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../work/Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../work/Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../work/Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../work/Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../work/Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../work/Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

@font-face {
  font-family: "Giant-Head-OT";
  src: url('../fonts/Giant-Head-OT/Giant-Head-OT.eot?1443208413');
  src: url('../fonts/Giant-Head-OT/Giant-Head-OT.eot?&1443208413#iefix') format('embedded-opentype'), url('../fonts/Giant-Head-OT/Giant-Head-OT.woff?1443208413') format('woff'), url('../fonts/Giant-Head-OT/Giant-Head-OT.ttf?1443208413') format('truetype'), url('../fonts/Giant-Head-OT/Giant-Head-OT.svg?1443208413') format('svg');
}
/* line 2, ../sass/_animate.scss */
.hideleft {
  -webkit-transform: translateX(-100%);
  -moz-transform: translateX(-100%);
  -o-transform: translateX(-100%);
  -ms-transform: translateX(-100%);
  transform: translateX(-100%);
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  opacity: 0;
}

/* line 13, ../sass/_animate.scss */
.showleft {
  -webkit-transform: translateX(0px);
  -moz-transform: translateX(0px);
  -o-transform: translateX(0px);
  -ms-transform: translateX(0px);
  transform: translateX(0px);
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  filter: alpha(opacity=100);
  opacity: 1;
  -webkit-transition-delay: .3s;
  -moz-transition-delay: .3s;
  -o-transition-delay: .3s;
  -ms-transition-delay: .3s;
  transition-delay: .3s;
}

/* line 29, ../sass/_animate.scss */
.make_transist {
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  -ms-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

/*╨С╨╗╨╛╨║ ╤Б╨╛╨╛╨▒╤Й╨╡╨╜╨╕╤П*/
/* line 4, ../sass/_content.scss */
#content {
  margin-left: 33.33%;
  display: block;
  z-index: 2;
  float: left;
  width: 66.67%;
}

/*╨Я╨╛╨┤╨┐╨╕╤Б╤М*/
/* line 15, ../sass/_content.scss */
.inner-meta {
  color: #464646;
  margin-top: 5px;
  font-style: italic;
  text-align: right;
  font-size: 14px;
  font-family: HelveticaNeue, 'Helvetica Neue', Helvetica, Arial, 'Noto Sans', sans-serif;
}

/*╨С╨╗╨╛╨║ ╤Б╨╛╨╛╨▒╤Й╨╡╨╜╨╕╤П*/
/* line 27, ../sass/_content.scss */
.message-box {
  z-index: 3;
  width: auto;
  max-width: 870px;
  position: relative;
  padding: 20px;
  margin: 25px;
  background: #E9E9E9;
  /* The Fallback */
  background: rgba(233, 233, 233, 0.9);
}

/*╨С╨╗╨╛╨║ ╤В╨╡╨║╤Б╤В╨░ ╨╜╨╛╨▓╨╛╤Б╤В╨╡╨╣*/
/* line 42, ../sass/_content.scss */
.content-block {
  width: auto;
  max-width: 870px;
  color: #202020;
  font-size: 21px;
  font-family: HelveticaNeue, 'Helvetica Neue', Helvetica, Arial, 'Noto Sans', sans-serif;
  text-indent: 24px;
}
/* line 49, ../sass/_content.scss */
.content-block p {
  margin-top: 5px;
  margin-bottom: 5px;
}

/*╨Ф╨▓╤Г╤Е╨║╨╛╨╗╨╛╨╜╨╛╤З╨╜╨╛╨╡ ╤Б╨╛╨╛╨▒╤Й╨╡╨╜╨╕╨╡*/
/* line 58, ../sass/_content.scss */
.two-colum-content {
  -moz-column-count: 2;
  -webkit-column-count: 2;
  column-count: 2;
  -moz-column-gap: 10px;
  -webkit-column-gap: 10px;
  column-gap: 10px;
}

/*╨Ч╨░╨│╨╛╨╗╨╛╨▓╨╛╨║ ╤Б╨╛╨╛╨▒╤Й╨╡╨╜╨╕╤П*/
/* line 70, ../sass/_content.scss */
.content-header p {
  color: #F27935;
  font-size: 54px;
  font-family: "Ubuntu", sans-serif;
  margin-left: 10px;
}

/*╨Ю╤В╨║╨╗╤О╤З╨╡╨╜╨╕╨╡ ╨▓╤Л╨┤╨╡╨╗╨╡╨╜╨╕╨╡ ╤В╨╡╨║╤Б╤В╨░*/
/* line 80, ../sass/_content.scss */
.selector-none {
  -moz-user-select: none;
  -khtml-user-select: none;
  user-select: none;
}

/*╨Я╨╛╨┤╤А╨╛╨▒╨╜╨╡╨╡ ->*/
/* line 89, ../sass/_content.scss */
.flat-btn {
  font-family: HelveticaNeue, 'Helvetica Neue', Helvetica, Arial, 'Noto Sans', sans-serif;
  font-style: italic;
  text-align: left;
  cursor: pointer;
  color: #da251c;
  padding: 3px 15px;
  font-size: 15px;
  margin-left: auto;
  position: relative;
}
/* line 99, ../sass/_content.scss */
.flat-btn:active {
  position: relative;
  top: 2px;
}
/* line 103, ../sass/_content.scss */
.flat-btn:hover {
  text-decoration: underline;
}

/*╨С╨╛╨║╨╛╨▓╨╛╨╡ ╨╝╨╡╨╜╤О*/
/* line 4, ../sass/_head.scss */
#site-title {
  top: 50%;
  position: absolute;
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  right: 19px;
}
/* line 11, ../sass/_head.scss */
#site-title div div {
  text-align: center;
  margin-bottom: -40px;
  margin-left: 15px;
}
/* line 15, ../sass/_head.scss */
#site-title div div .micro-image {
  width: auto;
  height: 84px;
  filter: drop-shadow(0 0 0.2em #953F0F, 0 0 0.2em #953F0F);
  -webkit-filter: drop-shadow(0 0 0.2em #953F0F, 0 0 0.2em #953F0F);
  -webkit-svg-shadow: 0 0 0.2em #953F0F, 0 0 0.2em #953F0F;
}
/* line 23, ../sass/_head.scss */
#site-title div h1 {
  text-align: center;
}
/* line 25, ../sass/_head.scss */
#site-title div h1 a {
  text-decoration: none;
  font: 54px "Sansita One", sans-serif;
  color: #F27935;
  text-shadow: 0 0 0.2em #953F0F, 0 0 0.2em #953F0F, black 0 0 2px;
}
/* line 33, ../sass/_head.scss */
#site-title div h2 {
  text-align: center;
  margin-top: -15px;
}
/* line 36, ../sass/_head.scss */
#site-title div h2 a {
  text-decoration: none;
  font: 34px "Lobster", cursive, sans-serif;
  color: #F27935;
  /* IE 8 */
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0.9)";
  /* Netscape */
  -moz-opacity: 0.9;
  /* Konqueror 3.1, Safari 1.1 */
  -khtml-opacity: 0.9;
  /* C553 - Mozilla 1.7b +, Firefox 0.9 +, Safari 1.2+, Opera 9+ */
  opacity: 0.9;
  /* IE 5-7 */
  filter: alpha(opacity=0.9);
  text-shadow: 0 0 0.2em #953F0F, 0 0 0.2em #953F0F,  black 0 0 2px;
}
/* line 45, ../sass/_head.scss */
#site-title #menu {
  position: relative;
  padding-top: 15px;
}
/* line 48, ../sass/_head.scss */
#site-title #menu #navbar {
  position: absolute;
  right: 5px;
}
/* line 51, ../sass/_head.scss */
#site-title #menu #navbar li {
  overflow: hidden;
  display: block;
  margin-bottom: 4px;
  border-right: 10px solid #BFBFBF;
  -moz-transition-property: border-right-color, all, ease-in-out;
  -o-transition-property: border-right-color, all, ease-in-out;
  -webkit-transition-property: border-right-color, all, ease-in-out;
  transition-property: border-right-color, all, ease-in-out;
  -moz-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
}
/* line 60, ../sass/_head.scss */
#site-title #menu #navbar li:hover {
  border-right: 10px solid #F27935;
}
/* line 63, ../sass/_head.scss */
#site-title #menu #navbar li a {
  color: #202020;
  padding: 5px;
  text-decoration: none;
  font-size: 26px;
  font-weight: bold;
  display: block;
  text-align: right;
}

/* line 5, ../sass/_player.scss */
.player-class, .player-bg-wrapper, .player {
  position: absolute;
  float: right;
  margin-top: 20px;
  right: 19px;
  width: 286px;
  height: 160px;
}

/* line 14, ../sass/_player.scss */
.player-bg-wrapper {
  border: 1px solid #edeeee;
  overflow: hidden;
}
/* line 16, ../sass/_player.scss */
.player-bg-wrapper .player-bg {
  display: block;
  width: 306px;
  height: 180px;
  background-size: cover;
  content: ' ';
  opacity: 0.4;
  background-image: url("http://cs629228.vk.me/v629228729/141b/xhjvUx0je3s.jpg");
  background-position: center center;
}
/* line 29, ../sass/_player.scss */
.player-bg-wrapper .player-styling-effect {
  background-color: rgba(255, 255, 255, 0.4);
  width: 306px;
  height: 180px;
  margin: -10px 0 0 -10px;
}

/* line 37, ../sass/_player.scss */
#play-tumbler,
#volume-tumbler {
  width: 29.92px;
  /*11% ╨╛╤В ╤И╨╕╤А╨╕╨╜╤Л*/
  height: 29.92px;
  /*11% ╨╛╤В ╤И╨╕╤А╨╕╨╜╤Л*/
  float: left;
  cursor: pointer;
  display: block;
  position: relative;
}

/* line 49, ../sass/_player.scss */
#play-tumbler,
#volume-bar {
  margin-right: 24.48px;
  /*9%*/
}

/* line 55, ../sass/_player.scss */
#volume-bar {
  background: rgba(0, 0, 0, 0.5);
  height: 2.5px;
  width: 146.88px;
  /*54% ╨╛╤В ╤И╨╕╤А╨╕╨╜╤Л*/
  cursor: pointer;
  float: left;
  margin-top: 14.96px;
  display: block;
}
/* line 64, ../sass/_player.scss */
#volume-bar:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

/* line 73, ../sass/_player.scss */
.player-button-class, #loading_indicator, #play-tumbler #play-icon,
#play-tumbler #pause-icon, #volume-tumbler #mute-icon,
#volume-tumbler #unmute-icon {
  width: 29.92px;
  /*11% ╨╛╤В ╤И╨╕╤А╨╕╨╜╤Л*/
  height: 29.92px;
  /*11% ╨╛╤В ╤И╨╕╤А╨╕╨╜╤Л*/
  position: absolute;
  z-index: 5;
  top: 0px;
  left: 0px;
  fill: white;
  pointer-events: all;
}

/* line 103, ../sass/_player.scss */
#mute-icon, #pause-icon, #loading_indicator {
  /* IE 8 */
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  /* Netscape */
  -moz-opacity: 0;
  /* Konqueror 3.1, Safari 1.1 */
  -khtml-opacity: 0;
  /* C553 - Mozilla 1.7b +, Firefox 0.9 +, Safari 1.2+, Opera 9+ */
  opacity: 0;
  /* IE 5-7 */
  filter: alpha(opacity=0);
}

/*╨Я╨╗╨╡╨╡╤А*/
/* line 110, ../sass/_player.scss */
.player {
  z-index: 21;
  padding: 14px;
  width: 258px;
  height: 132px;
}
/* line 117, ../sass/_player.scss */
.player #player-info > div:not(:last-child) {
  margin-bottom: 14px;
}
/* line 120, ../sass/_player.scss */
.player #player-info .player-info-block {
  height: 89px;
  width: 100%;
  overflow: hidden;
  *zoom: 1;
}
/* line 123, ../sass/_player.scss */
.player #player-info .player-info-block .player-cover {
  height: 87px;
  width: 87px;
  position: relative;
  background-image: url("http://cs629228.vk.me/v629228729/141b/xhjvUx0je3s.jpg");
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  border-width: 1px;
  border-style: solid;
  border-color: white;
}
/* line 134, ../sass/_player.scss */
.player #player-info .player-info-block div {
  float: left;
}
/* line 138, ../sass/_player.scss */
.player #player-info .player-info-block > div:not(:last-child) {
  margin-right: 14px;
}
/* line 141, ../sass/_player.scss */
.player #player-info .player-info-block .track-info {
  overflow: hidden;
  width: calc(100%-89px);
  height: 89px;
}
/* line 145, ../sass/_player.scss */
.player #player-info .player-info-block .track-info .track-tab1,
.player #player-info .player-info-block .track-info .track-tab2 {
  position: absolute;
  height: inherit;
  overflow: hidden;
}
/* line 150, ../sass/_player.scss */
.player #player-info .player-info-block .track-info .track-tab1 .track-song,
.player #player-info .player-info-block .track-info .track-tab2 .track-song {
  text-align: left;
  color: white;
  font-family: "Open Sans", sans-serif;
  font-kerning: auto;
  font-size: 18px;
  font-stretch: normal;
  font-variant: normal;
  font-variant-ligatures: normal;
  font-weight: normal;
  bottom: 0;
}
/* line 162, ../sass/_player.scss */
.player #player-info .player-info-block .track-info .track-tab1 .tracking-group,
.player #player-info .player-info-block .track-info .track-tab2 .tracking-group {
  text-align: left;
  color: white;
  font-family: "Open Sans", sans-serif;
  font-kerning: auto;
  font-size: 27px;
  font-stretch: normal;
  font-variant: normal;
  font-weight: bold;
  bottom: 0;
}

/*╨а╨╡╨│╤Г╨╗╤П╤В╨╛╤А ╨│╤А╨╛╨╝╨║╨╛╤Б╤В╨╕*/
/* line 183, ../sass/_player.scss */
#volume-bar-value {
  background: white;
  height: 2.5px;
  cursor: pointer;
}
/* line 187, ../sass/_player.scss */
#volume-bar-value div {
  float: right;
  width: 20px;
  height: 20px;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.5);
  position: relative;
  top: -8.75px;
  right: -8.75px;
}
/* line 197, ../sass/_player.scss */
#volume-bar-value div div {
  position: relative;
  top: 5px;
  right: 5px;
  background: white;
  width: 10px;
  height: 10px;
  border-radius: 50%;
}
/* line 205, ../sass/_player.scss */
#volume-bar-value div div:hover {
  background: #F27935;
}

/* line 212, ../sass/_player.scss */
#volume-bar-wrapper {
  display: block;
  width: 100%;
  height: 29.92px;
}

/* line 218, ../sass/_player.scss */
#slider {
  width: 146.88px;
  position: relative;
}

/* ╨Я╨╛╨╗╨╖╤Г╨╜╨╛╨║ */
/* line 226, ../sass/_player.scss */
.ui-slider .ui-slider-handle {
  position: absolute;
  z-index: 2;
  width: 10px;
  height: 10px;
  background: white;
  border: none;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}
/* line 235, ../sass/_player.scss */
.ui-slider .ui-slider-handle:before {
  content: " ";
  float: right;
  width: 20px;
  height: 20px;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.5);
  position: relative;
  top: -5px;
  right: -5px;
}
/* line 246, ../sass/_player.scss */
.ui-slider .ui-slider-handle:focus {
  border: none;
  outline: none;
}

/* line 252, ../sass/_player.scss */
.ui-slider .ui-slider-range {
  position: absolute;
  z-index: 1;
  font-size: .7em;
  display: block;
  border: 0;
  overflow: hidden;
}

/* ╨│╨╛╤А╨╕╨╖╨╛╨╜╤В╨░╨╗╤М╨╜╤Л╨╣ ╤Б╨╗╨░╨╣╨┤╨╡╤А (╤Б╨░╨╝╨░ ╨┐╨╛╨╗╨╛╤Б╨░ ╨┐╨╛ ╨║╨╛╤В╨╛╤А╨╛╨╣ ╨▒╨╡╨│╨░╨╡╤В ╨┐╨╛╨╗╨╖╤Г╨╜╨╛╨║) */
/* line 264, ../sass/_player.scss */
.ui-slider-horizontal {
  height: 3px;
  /* ╨╖╨░╨┤╨░╨╡╨╝ ╨▓╤Л╤Б╨╛╤В╤Г ╤Б╨╛╨│╨╗╨░╤Б╨╜╨╛ ╨┤╨╕╨╖╨░╨╣╨╜╨░ */
}

/* ╨┐╨╛╨╖╨╕╤Ж╨╕╨╛╨╜╨╕╤А╤Г╨╡╨╝ ╨┐╨╛╨╗╨╖╤Г╨╜╨║╨╕ */
/* line 272, ../sass/_player.scss */
.ui-slider-horizontal .ui-slider-handle {
  top: -3.75px;
  margin-left: -6px;
}

/* line 278, ../sass/_player.scss */
.ui-slider-horizontal .ui-slider-range {
  top: 0;
  height: 100%;
}

/* line 283, ../sass/_player.scss */
.ui-slider-horizontal .ui-slider-range-min {
  left: 0;
}

/* line 287, ../sass/_player.scss */
.ui-slider-horizontal .ui-slider-range-max {
  right: 0;
}

/* ╨╛╤Д╨╛╤А╨╝╨╗╨╡╨╜╨╕╨╡ ╨┐╨╛╨╗╨╛╤Б╤Л ╨┐╨╛ ╨║╨╛╤В╨╛╤А╨╛╨╣ ╤Е╨╛╨┤╨╕╤В ╨┐╨╛╨╗╨╖╤Г╨╜╨╛╨║ */
/* line 294, ../sass/_player.scss */
.ui-widget-content {
  border: none;
  background: rgba(0, 0, 0, 0.5);
}

/* ╤Б╨║╤А╤Г╨│╨╗╨╡╨╜╨╕╨╡ ╨┤╨╗╤П ╨┐╨╛╨╗╨╛╤Б╤Л ╤Б╨╗╨░╨╣╨┤╨╡╤А╨░ */
/* line 302, ../sass/_player.scss */
.ui-corner-all {
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
}

/*╨Ч╨░╨┐╨╛╨╗╨╜╨╡╨╜╨╜╨░╤П ╤З╨░╤Б╤В╤М ╨┐╨╛╨╗╨╛╤Б╤Л ╤Б╨╗╨░╨╣╨┤╨╡╤А╨░*/
/* line 309, ../sass/_player.scss */
.ui-widget-header {
  border: none;
  color: #ffffff;
  background: white 50% 50% repeat-x;
  font-weight: bold;
}

/* line 35, ../sass/screen.scss */
.header {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 33.33%;
  height: 100%;
  z-index: 2;
  float: right;
}

/* line 45, ../sass/screen.scss */
.background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
}
/* line 52, ../sass/screen.scss */
.background img {
  position: fixed;
  height: auto;
  width: 100%;
}

/* line 59, ../sass/screen.scss */
canvas {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}
